/* styles.css */
/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


/* Header styles */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* Hero section */
.hero-section {
    background-color: #2e2f42;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    font-family: "Roboto", sans-serif; /* Додано явне вказання шрифту */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Team section */
.team-section {
    background-color: #f4f4fd;
}

.team-member {
    background-color: #ffffff;
    text-align: center;
}


/* Footer styles */
.page-footer {
    background-color: #2e2f42;
}

.page-footer .logo-studio {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
